{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "Provides read and update functionality for Azure SQL Database backup long term retention policy",
        "title": "Azure SQL Database Backup Long Term Retention Policy",
        "version": "2014-04-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/backupLongTermRetentionPolicies.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "sql-backupLongTermRetentionPolicies",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/backupLongTermRetentionPolicies": {
            "get": {
                "description": "Returns a database backup long term retention policy",
                "operationId": "BackupLongTermRetentionPolicies_ListByDatabase",
                "parameters": [
                    {
                        "description": "The API version to use for the request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription ID that identifies an Azure subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the server.",
                        "in": "path",
                        "name": "serverName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the database.",
                        "in": "path",
                        "name": "databaseName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents the response to a list long-term retention policies request.",
                                    "properties": {
                                        "value": {
                                            "description": "The list of long-term retention policies in the database.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "ARM resource.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Resource ID.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "Resource name.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "Resource type.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "x-ms-azure-resource": true
                                                            }
                                                        ],
                                                        "description": "ARM proxy resource.",
                                                        "properties": {},
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "A backup long term retention policy",
                                                "properties": {
                                                    "location": {
                                                        "description": "The geo-location where the resource lives",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "The properties of the backup long term retention policy",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "recoveryServicesBackupPolicyResourceId": {
                                                                "description": "The azure recovery services backup protection policy resource id",
                                                                "type": "string"
                                                            },
                                                            "state": {
                                                                "description": "The status of the backup long term retention policy",
                                                                "enum": [
                                                                    "Disabled",
                                                                    "Enabled"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "name": "BackupLongTermRetentionPolicyState"
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "state",
                                                            "recoveryServicesBackupPolicyResourceId"
                                                        ]
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "required": [
                                        "value"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "BackupLongTermRetentionPolicies"
                ],
                "x-ms-examples": {
                    "Get backup long term retention policy": {
                        "parameters": {
                            "api-version": "2014-04-01",
                            "backupLongTermRetentionPolicyName": "Default",
                            "databaseName": "longtermretentiontest-9012",
                            "resourceGroupName": "longtermretentiontest-1234",
                            "serverName": "longtermretentiontest-5678",
                            "subscriptionId": "00000000-1111-2222-3333-444444444444"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/databases/longtermretentiontest-9012/backupLongTermRetentionPolicies/Default",
                                            "location": "Japan East",
                                            "name": "Default",
                                            "properties": {
                                                "recoveryServicesBackupPolicyResourceId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc/backupPolicies/testPolicyxyz",
                                                "state": "Enabled"
                                            },
                                            "type": "Microsoft.Sql/servers/databases/backupLongTermRetentionPolicies"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {}
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/backupLongTermRetentionPolicies/{backupLongTermRetentionPolicyName}": {
            "get": {
                "description": "Returns a database backup long term retention policy",
                "operationId": "BackupLongTermRetentionPolicies_Get",
                "parameters": [
                    {
                        "description": "The API version to use for the request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription ID that identifies an Azure subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the server.",
                        "in": "path",
                        "name": "serverName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the database.",
                        "in": "path",
                        "name": "databaseName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the backup long term retention policy",
                        "in": "path",
                        "name": "backupLongTermRetentionPolicyName",
                        "required": true,
                        "x-ms-enum": {
                            "modelAsString": true,
                            "name": "BackupLongTermRetentionPolicyName"
                        },
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Default"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "ARM resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "Resource type.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM proxy resource.",
                                            "properties": {},
                                            "type": "object"
                                        }
                                    ],
                                    "description": "A backup long term retention policy",
                                    "properties": {
                                        "location": {
                                            "description": "The geo-location where the resource lives",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "The properties of the backup long term retention policy",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "recoveryServicesBackupPolicyResourceId": {
                                                    "description": "The azure recovery services backup protection policy resource id",
                                                    "type": "string"
                                                },
                                                "state": {
                                                    "description": "The status of the backup long term retention policy",
                                                    "enum": [
                                                        "Disabled",
                                                        "Enabled"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "name": "BackupLongTermRetentionPolicyState"
                                                    }
                                                }
                                            },
                                            "required": [
                                                "state",
                                                "recoveryServicesBackupPolicyResourceId"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "BackupLongTermRetentionPolicies"
                ],
                "x-ms-examples": {
                    "Get backup long term retention policy": {
                        "parameters": {
                            "api-version": "2014-04-01",
                            "backupLongTermRetentionPolicyName": "Default",
                            "databaseName": "longtermretentiontest-9012",
                            "resourceGroupName": "longtermretentiontest-1234",
                            "serverName": "longtermretentiontest-5678",
                            "subscriptionId": "00000000-1111-2222-3333-444444444444"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/databases/longtermretentiontest-9012/backupLongTermRetentionPolicies/Default",
                                    "location": "Japan East",
                                    "name": "Default",
                                    "properties": {
                                        "recoveryServicesBackupPolicyResourceId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc/backupPolicies/testPolicyxyz",
                                        "state": "Enabled"
                                    },
                                    "type": "Microsoft.Sql/servers/databases/backupLongTermRetentionPolicies"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Creates or updates a database backup long term retention policy",
                "operationId": "BackupLongTermRetentionPolicies_CreateOrUpdate",
                "parameters": [
                    {
                        "description": "The API version to use for the request.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The subscription ID that identifies an Azure subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the server.",
                        "in": "path",
                        "name": "serverName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the database",
                        "in": "path",
                        "name": "databaseName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the backup long term retention policy",
                        "in": "path",
                        "name": "backupLongTermRetentionPolicyName",
                        "required": true,
                        "x-ms-enum": {
                            "modelAsString": true,
                            "name": "BackupLongTermRetentionPolicyName"
                        },
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Default"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "ARM resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "Resource type.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM proxy resource.",
                                            "properties": {},
                                            "type": "object"
                                        }
                                    ],
                                    "description": "A backup long term retention policy",
                                    "properties": {
                                        "location": {
                                            "description": "The geo-location where the resource lives",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "The properties of the backup long term retention policy",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "recoveryServicesBackupPolicyResourceId": {
                                                    "description": "The azure recovery services backup protection policy resource id",
                                                    "type": "string"
                                                },
                                                "state": {
                                                    "description": "The status of the backup long term retention policy",
                                                    "enum": [
                                                        "Disabled",
                                                        "Enabled"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "name": "BackupLongTermRetentionPolicyState"
                                                    }
                                                }
                                            },
                                            "required": [
                                                "state",
                                                "recoveryServicesBackupPolicyResourceId"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "ARM resource.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "Resource type.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object",
                                                    "x-ms-azure-resource": true
                                                }
                                            ],
                                            "description": "ARM proxy resource.",
                                            "properties": {},
                                            "type": "object"
                                        }
                                    ],
                                    "description": "A backup long term retention policy",
                                    "properties": {
                                        "location": {
                                            "description": "The geo-location where the resource lives",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "The properties of the backup long term retention policy",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "recoveryServicesBackupPolicyResourceId": {
                                                    "description": "The azure recovery services backup protection policy resource id",
                                                    "type": "string"
                                                },
                                                "state": {
                                                    "description": "The status of the backup long term retention policy",
                                                    "enum": [
                                                        "Disabled",
                                                        "Enabled"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "name": "BackupLongTermRetentionPolicyState"
                                                    }
                                                }
                                            },
                                            "required": [
                                                "state",
                                                "recoveryServicesBackupPolicyResourceId"
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Accepted"
                    }
                },
                "tags": [
                    "BackupLongTermRetentionPolicies"
                ],
                "x-ms-examples": {
                    "Update backup long term retention policy": {
                        "parameters": {
                            "api-version": "2014-04-01",
                            "backupLongTermRetentionPolicyName": "Default",
                            "databaseName": "longtermretentiontest-9012",
                            "parameters": {
                                "location": "Japan East",
                                "properties": {
                                    "recoveryServicesBackupPolicyResourceId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc/backupPolicies/testPolicyxyz",
                                    "state": "Enabled"
                                }
                            },
                            "resourceGroupName": "longtermretentiontest-1234",
                            "serverName": "longtermretentiontest-5678",
                            "subscriptionId": "00000000-1111-2222-3333-444444444444"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/databases/longtermretentiontest-9012/backupLongTermRetentionPolicies/Default",
                                    "location": "Japan East",
                                    "name": "Default",
                                    "properties": {
                                        "recoveryServicesBackupPolicyResourceId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc/backupPolicies/testPolicyxyz",
                                        "state": "Enabled"
                                    },
                                    "type": "Microsoft.Sql/servers/databases/backupLongTermRetentionPolicies"
                                }
                            },
                            "201": {
                                "body": {
                                    "id": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/databases/longtermretentiontest-9012/backupLongTermRetentionPolicies/Default",
                                    "location": "Japan East",
                                    "name": "Default",
                                    "properties": {
                                        "recoveryServicesBackupPolicyResourceId": "/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc/backupPolicies/testPolicyxyz",
                                        "state": "Enabled"
                                    },
                                    "type": "Microsoft.Sql/servers/databases/backupLongTermRetentionPolicies"
                                }
                            },
                            "202": {}
                        }
                    }
                },
                "x-ms-long-running-operation": true,
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "allOf": [
                                            {
                                                "description": "ARM resource.",
                                                "properties": {
                                                    "id": {
                                                        "description": "Resource ID.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Resource name.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "description": "Resource type.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object",
                                                "x-ms-azure-resource": true
                                            }
                                        ],
                                        "description": "ARM proxy resource.",
                                        "properties": {},
                                        "type": "object"
                                    }
                                ],
                                "description": "A backup long term retention policy",
                                "properties": {
                                    "location": {
                                        "description": "The geo-location where the resource lives",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "properties": {
                                        "description": "The properties of the backup long term retention policy",
                                        "x-ms-client-flatten": true,
                                        "properties": {
                                            "recoveryServicesBackupPolicyResourceId": {
                                                "description": "The azure recovery services backup protection policy resource id",
                                                "type": "string"
                                            },
                                            "state": {
                                                "description": "The status of the backup long term retention policy",
                                                "enum": [
                                                    "Disabled",
                                                    "Enabled"
                                                ],
                                                "type": "string",
                                                "x-ms-enum": {
                                                    "name": "BackupLongTermRetentionPolicyState"
                                                }
                                            }
                                        },
                                        "required": [
                                            "state",
                                            "recoveryServicesBackupPolicyResourceId"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "description": "The required parameters to update a backup long term retention policy",
                    "required": true
                }
            }
        }
    },
    "components": {
        "schemas": {
            "BackupLongTermRetentionPolicy": {
                "allOf": [
                    {
                        "allOf": [
                            {
                                "description": "ARM resource.",
                                "properties": {
                                    "id": {
                                        "description": "Resource ID.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "Resource name.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "type": {
                                        "description": "Resource type.",
                                        "readOnly": true,
                                        "type": "string"
                                    }
                                },
                                "type": "object",
                                "x-ms-azure-resource": true
                            }
                        ],
                        "description": "ARM proxy resource.",
                        "properties": {},
                        "type": "object"
                    }
                ],
                "description": "A backup long term retention policy",
                "properties": {
                    "location": {
                        "description": "The geo-location where the resource lives",
                        "readOnly": true,
                        "type": "string"
                    },
                    "properties": {
                        "description": "The properties of the backup long term retention policy",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "recoveryServicesBackupPolicyResourceId": {
                                "description": "The azure recovery services backup protection policy resource id",
                                "type": "string"
                            },
                            "state": {
                                "description": "The status of the backup long term retention policy",
                                "enum": [
                                    "Disabled",
                                    "Enabled"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                    "name": "BackupLongTermRetentionPolicyState"
                                }
                            }
                        },
                        "required": [
                            "state",
                            "recoveryServicesBackupPolicyResourceId"
                        ]
                    }
                },
                "type": "object"
            },
            "BackupLongTermRetentionPolicyListResult": {
                "description": "Represents the response to a list long-term retention policies request.",
                "properties": {
                    "value": {
                        "description": "The list of long-term retention policies in the database.",
                        "items": {
                            "allOf": [
                                {
                                    "allOf": [
                                        {
                                            "description": "ARM resource.",
                                            "properties": {
                                                "id": {
                                                    "description": "Resource ID.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Resource name.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "description": "Resource type.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object",
                                            "x-ms-azure-resource": true
                                        }
                                    ],
                                    "description": "ARM proxy resource.",
                                    "properties": {},
                                    "type": "object"
                                }
                            ],
                            "description": "A backup long term retention policy",
                            "properties": {
                                "location": {
                                    "description": "The geo-location where the resource lives",
                                    "readOnly": true,
                                    "type": "string"
                                },
                                "properties": {
                                    "description": "The properties of the backup long term retention policy",
                                    "x-ms-client-flatten": true,
                                    "properties": {
                                        "recoveryServicesBackupPolicyResourceId": {
                                            "description": "The azure recovery services backup protection policy resource id",
                                            "type": "string"
                                        },
                                        "state": {
                                            "description": "The status of the backup long term retention policy",
                                            "enum": [
                                                "Disabled",
                                                "Enabled"
                                            ],
                                            "type": "string",
                                            "x-ms-enum": {
                                                "name": "BackupLongTermRetentionPolicyState"
                                            }
                                        }
                                    },
                                    "required": [
                                        "state",
                                        "recoveryServicesBackupPolicyResourceId"
                                    ]
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "required": [
                    "value"
                ],
                "type": "object"
            },
            "BackupLongTermRetentionPolicyProperties": {
                "description": "The properties of a backup long term retention policy",
                "properties": {
                    "recoveryServicesBackupPolicyResourceId": {
                        "description": "The azure recovery services backup protection policy resource id",
                        "type": "string"
                    },
                    "state": {
                        "description": "The status of the backup long term retention policy",
                        "enum": [
                            "Disabled",
                            "Enabled"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                            "name": "BackupLongTermRetentionPolicyState"
                        }
                    }
                },
                "required": [
                    "state",
                    "recoveryServicesBackupPolicyResourceId"
                ],
                "type": "object"
            }
        },
        "parameters": {
            "ServerNameParameter": {
                "description": "The name of the server.",
                "in": "path",
                "name": "serverName",
                "required": true,
                "x-ms-parameter-location": "method",
                "schema": {
                    "type": "string"
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 Flow",
                "type": "oauth2",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        }
                    }
                }
            }
        }
    },
    "security": [
        {
            "azure_auth": []
        }
    ]
}